<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frank.gramtu.mini.weixin.WeixinPayRepository">

    <!--
         微信支付Mapper.
         @author 张孝党 2020/01/04.
         @version V0.0.1.
         <p>
         更新履历： V0.0.1 2020/01/04 张孝党 创建.
     -->

    <!-- 更新订单流水 -->
    <update id="updOrderByOrderId" parameterType="Map">
        UPDATE
            g_order
        SET
            tradeno = #{tradeno}
        WHERE
            orderid = #{orderid}
    </update>

    <!-- 新增支付流水 -->
    <insert id="insJyLs" parameterType="Map">
        INSERT INTO
            g_jy_ls (
                 id
                ,tradeno
                ,transactionid
                ,tradetype
                ,banktype
                ,feetype
                ,openid
                ,timeend
                ,totalfee
            )
        VALUES (
                 #{id}
                ,#{tradeno}
                ,#{transactionid}
                ,#{tradetype}
                ,#{banktype}
                ,#{feetype}
                ,#{openid}
                ,#{timeend}
                ,#{totalfee}
        )
    </insert>

    <!-- 更新订单流水 -->
    <update id="updOrderByTradeNo" parameterType="Map">
        UPDATE
            g_order
        SET
            status = #{status}
        WHERE
            tradeno = #{tradeno}
    </update>
</mapper>